
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&display=swap');

:root{
    --sc-color: #00ffbb;
}

*{
    box-sizing: border-box;
}

/* =================
    general styles 
===================== */

h1,p{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1D1D1D;
    color: #FFFCFC;
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

/* ====================
        home page
   ==================== */

/* ============ navbar ============= */

.navbar{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.navbar-logo > p{
    font-size: 1.125rem;
    font-style: italic;
}

.logo-img{
    width: 4rem;
    object-fit: cover;
}

.navicon{
    color: var(--sc-color);
    font-size: 2rem; 
    margin-right: 1em; 
    cursor: pointer;
    z-index: 2;
}

.nav-wrapper{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: #1D1D1D;
    width: 100%;
    display: flex;
    animation: fadeInRight 0.4s forwards ;
}

.navitems-list{
    list-style: none;
    margin: auto;
    padding: 0;
    border: 2px solid var(--sc-color);
}

.navitems-list li {
    margin: 2em;
    padding: 0.5em;
    text-align: center;
}

.navitems-list li .active {
    padding-bottom: 0.5em;
    border-bottom: 1px solid white ;
}

.navitems-list  li  a{
    text-decoration: none;
    color: #FFFCFC;
}

.cross{
    animation: rotateIn 1s forwards;
}

/* ============ navbar ============= */

.home-container{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

.home-aside{
    display: none;
}

/*=============== intro-text============= */

.intro-text-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.border-before{
    border-top: 6px solid var(--sc-color);
    width: 40%;
    margin-bottom: 0.5em;
    animation: fadeInRight 2s forwards;
}
.intro-text{
    align-self: center;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.1;
}

.border-after{
    border-bottom: 6px solid var(--sc-color);
    width: 40%;
    margin-top: 0.75em;
    align-self: flex-end;
    animation: fadeInLeft 2s forwards;
}

.intro-text-span{
    /* text-green drop-shadow-left */
    color: var(--sc-color);
    filter: drop-shadow(-5px 1px 0px #FD2155);
}

.subtitle{
    /* text-2xl font-light italic  */
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
}

/*=============== intro-text============= */


/* ============home page media queries============== */

@media  (min-width: 640px){

    .navbar{
        display: none;
    }


    .home-container{
        display: grid;
        width: 100%;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: 
            "intro logo";
    }

    .intro-text-container{
        grid-area: intro;
        margin: auto;
        margin-left: 2em;
    }

    .intro-text{
        align-self: flex-start;
        font-size: 2.25rem;
        transition: all 0.5s ease-out;
    }
    
    .subtitle{
        font-size: 1.75rem;
        transition: all 0.5s ease-out;
    }

    .border-after, 
    .border-before{
        display: none;
    }

    .intro-img{
        max-width: 80%;
        margin:auto;
    }

    .home-aside{
        background-color: #262626;
        grid-area: logo;
        display: flex;
        flex-direction: column;
        border-bottom: 8px solid var(--sc-color);
    }

    .navlap{
        text-align: right;
        padding: 1.5em 0;
    }
    .navlap  a{
        text-decoration: none;
        color: #FFFCFC;
        margin-right: 2em;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .navlap .project-btn{
        background-color: var(--sc-color);
        padding: 0.75em 2em;
        border-radius: 20px;
        color: #2E3634;
    }
}

@media (min-width: 1024px) {
    .intro-text{
        align-self: flex-start;
        font-size: 3rem;
        transition: all 0.5s ease-out;
    }

    .subtitle{
        font-size: 2.25rem;
        transition: all 0.5s ease-out;
    }

}


/* =========================
    animations 
=============================*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotateIn {
  from {
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

