@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&family=Karla:wght@300;500&display=swap');

:root{
    --color-p: #ff8820;
    --color-s: #FD2121;
    --bg-color: #1D1D1D;

    --text-color: #fff;
    /* --text-color-p: rgba(196, 196, 196, 0.98); */
    --text-color-p:#fff ;
    --text-font-p: 'Inconsolata', monospace;
    --text-font-s: 'Karla', sans-serif;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

/* =================
    general styles 
===================== */

/* scroll bar */

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: #4D4D4D;
  border-radius: 20px;
}


h1,p,h3, a{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--text-font-p);
    padding: 0;
    margin: 0;
}

.container{
    margin: 0 auto;
    animation: appear 1s ease-in forwards;
}

img{
    max-width: 100%;
}

/* From cssbuttons.io by @alexmaracinaru */
.cta {
 position: relative;
 padding: 12px 18px;
 transition: all 0.2s ease;
 border: none;
 background: none;
}

.cta:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 border-radius: 50px;
 background: var(--color-s);
 width: 45px;
 height: 45px;
 transition: all 0.3s ease;
}

.cta span {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 0.05em;
 color: var(--text-color);
}

.cta svg {
 position: relative;
 top: 0;
 margin-left: 10px;
 fill: none;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke: var(--color-s);
 stroke-width: 2;
 transform: translateX(-5px);
 transition: all 0.3s ease;
}

.cta:hover{
    cursor: pointer;
}

.cta:hover:before {
 width: 100%;
 background: var(--color-s);
}

.cta:hover svg {
 transform: translateX(0);
    stroke: var(--text-color);
}

.cta:active {
 transform: scale(0.95);
}




/* ====================
        home page
   ==================== */

/* ============ navbar ============= */

.logo-txt .intro-text-span{
    font-weight: 700;
    font-family: var(--text-font-p);
}

.navbar{
    display: none;
    width: 97%;
    padding: 2em 2em;
    justify-content: flex-end;
    grid-area: nav;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}


.logo-txt{
    background-color: #4D4D4D;
    width: max-content;
    padding: 0.5em 1em;
    margin: 1em 0.5em;
    border-radius: 5px;
    letter-spacing: 1px;
    color: var(--text-color-p);
}


.logo-img{
    width: 4rem;
    object-fit: cover;
}



/* ============ navbar ============= */

.home-container{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}



.home-aside{
    display: none;
}

/*=============== intro-text============= */

.intro-text-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.border-before{
    border-top: 6px solid var(--color-p);
    width: 40%;
    margin-bottom: 0.5em;
    animation: fadeInRight 2s forwards;
}

.intro-text-wrapper{
    align-self: center;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.1;
    margin-left: 20%;
}

.intro-text:hover, 
.intro-text:focus{
    background-image: repeating-linear-gradient( to left, var(--color-p), var(--color-s));
    filter: drop-shadow(0 0 20px var(--color-p));
    color: transparent;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    animation: animateText 2s infinite;
    transition: background-image ease-out 0s;
    transition-delay: 2s;
}



.border-after{
    border-bottom: 6px solid var(--color-p);
    width: 40%;
    margin-top: 0.75em;
    align-self: flex-end;
    animation: fadeInLeft 2s forwards;
}

.intro-text-span{
    color: var(--color-p);
    filter: drop-shadow(-5px 1px 0px var(--color-s));
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
}

.contact-links{
    display: flex;
    margin-top: 1em;
    margin-left: 20%;
}

.contact-links a{
    text-decoration: none;
    color: inherit;
    align-self: flex-end;
}

.contact-btns{
    align-self: flex-end;
    font-size: 2em;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
    opacity: 0.2;
}



/*=============== intro-text============= */



 .sidenav{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 40%;
    margin-right: 1em;
}

.sidenav-item{
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-p);
    border-radius: 50%;
    margin: 1em 0;
}

.sidenav-active{
    background-color: var(--color-p);
    transform: scale3d(1.3, 1.3, 1.3);
    transition: transform 0.5s ease-in;
}
.sidenav :not(.sidenav-active) {
    transition: all 0.5s ease-out;
}

/* about and skills section */

.info-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-wrapper, .skills-wrapper, .projects-wrapper{
    margin: 0 auto;
    max-width: 90%;
    font-weight: 300;
    font-family: var(--text-font-s);
}

.info-title{
    font-size: 3rem;
    padding-bottom: 0.25em;
    color: var(--text-color);
    position: relative;
    width: max-content;
    margin-bottom: 0.5em;
}

.info-title::after{
    content: '';
    border-bottom: 3px solid var(--text-color);
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}




.projects-wrapper{
    margin: 3em auto;
}

.projects-container{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
}




.project-card{
    position: relative;
    overflow: hidden;
    display: grid;
    max-width: 700px;
    grid-gap: 0.5em 0;
    grid-template-areas: 
        "title title"
        "tags tags"
        "img img"
        "img img"
        "text text";

}

.project-img{
    grid-area: img;
    display: block;
    width: 100%;
    max-width: 600px;
    object-fit: cover;  
    border-radius: 8px;
}


 .project-id{
    grid-area: id;
    font-family: var(--text-font-p);

}

.project-title{
    grid-area: title;
    color: #4D4D4D;
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
}


.project-text{
    grid-area: text;
    align-self: flex-start;
    font-size: 0.9rem;
}
.project-tags{
    display: none;
    grid-area: tags;
    color: var(--color-p);
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
} 

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    box-shadow: 0px -4px 3px rgba(25,25,25, 0.75);
    font-size: 0.75rem;
    color: rgb(146, 146, 146);
}


footer .intro-text-span{
    font-weight: 800;
    font-size: 4rem;
}

/* =========================
    animations 
=============================*/


@keyframes fly-1 {
 from {
  transform: translateY(0.1em);
 }

 to {
  transform: translateY(-0.1em);
 }
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotateIn {
  from {
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes animateText {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* ============media queries============== */

@media  (min-width: 760px){

    #skills .info-container{
        min-height: 60vh;
    }

    

    .intro-text-wrapper, 
    .subtitle,
    .navlap a, 
    .logo-txt{
        transition: all 0.1s ease-out;
    }


    .logo-img{
        width: 4rem;
        object-fit: cover;
        position: relative;
    }

    /* .home-container{
        display: grid;
        grid-template-rows: min-content auto;
        grid-template-columns: 2fr 2fr 3fr;
        grid-template-areas:
            "nav nav nav"
            "intro aside aside";
    } */

    /* navbar */

    .navbar{
        display: flex;
        margin-right: 1em;
    }

    .links{
        width: 100%;
    }

    .nav-wrapper{
        display: flex;
        padding: 0 2em;
    }

    .logo-txt, .nav-links{
        font-size: 1.25rem;
    }

    .nav-links{
        margin: 0 1em;
        text-decoration: none;
        color: var(--text-color-p);
        position: relative;
        padding-bottom: 0.35em;
    }

    .active-btn{
        border-bottom: 2px solid var(--color-p);
    }

    .nav-links,
    .nav-links:after,
    .nav-links:before {
        transition: all .25s;
    }

    .nav-links:hover {
        color: #555;
    }

    .navlinks::after {
        content: ".";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        color: transparent;
        background: var(--color-p);
        height: 1px;
    }

    .nav-links:hover:after {
        width: 100%;
        color: var(--color-p);
    }

    .intro-text-container{
        grid-column: 1/3;
        grid-row: 2/3;
        z-index: 4;
        padding: 0 2em;
    }

    .intro-text-wrapper{
        align-self: flex-start;
        font-size: 2.25rem;

    }

    .home-aside{
        display: flex;
        width: 100%;
        grid-area: aside;
    }
    
    .subtitle{
        font-size: 1.75rem;
        color: var(--color-p);
    }

    .border-after, 
    .border-before{
        display: none;
    }

    .logo-txt .intro-text-span {
        margin:0;
    }


    .info-container{
        display: flex;
        color: var(--text-color-p)
    }

    .about-wrapper, .skills-wrapper{
        display: grid;
        padding: 0 1em;
    }

    .about-wrapper{
        max-width: 900px;
        font-weight: 300;
        grid-gap: 1em;
        position: relative;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "img header"
            "img tr"
            "tl _";
    }

    .about-wrapper::before{
        content: '://';
        display: block;
        margin-top: -0.5em;
        font-size: 20rem;
        font-weight: 700;
        position:absolute;
        color: #C4C4C4;
        opacity: 0.12;
        right: 5%;
    }



    .info-title{
        grid-area: header;
        font-size: 5rem;
    }


    .about-title{
        justify-self: flex-end;
        position: relative;
        align-self: flex-start;
    }

    .about-title::after{
        content: '';
        border-bottom: 3px solid var(--text-color);
        width: 50%;
        position: absolute;
        bottom: 0;
        display: block;
    }

    .about-title::after{
        right: 10%;
    }

    .about-tr, .about-tl, .skills-text {
        font-family: var(--text-font-s);
        font-weight: 300;
        letter-spacing: 0.8px;
        line-height: 1.3;
        align-self: flex-start;
    }

    .about-tr{
        grid-area: tr;
        margin-left: -1em;
        margin-top: 2em;
        text-align: right;
    }
    .about-tl{
        grid-area: tl;
        border-left: 3px solid var(--color-p);
        padding-left: 3em;
    }

    .projects-title{
       position: relative;
       max-width: max-content;
       font-size: 2rem;
       font-weight: 500;
       margin-bottom: 2em;
   }

   .projects-title::after{
       content: "";
       display: block;
       position: absolute;
       right: -80%;
        top: 50%;
       width: 250px;
       height: 1px;
       margin-left: 1em;
       background-color: #4D4D4D;

   }

   .projects-container{
        row-gap: 5em;
        column-gap: 3em;
    
    }

    .project-card{
        display: grid;
        font-weight: 300;
        background-size: cover ;
        position: relative;
        align-items: stretch;
        grid-gap: 1em 2em;
        font-family: var(--text-font-s);
        grid-template-columns: minmax(min-content, max-content) auto;
        grid-template-areas:
            "title _"
            "img text"
            "img text"
            "tags text";
    }

    .project-overlay{
        grid-area: img;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background-color: #1d1d1d;
        transition: .25s ease-in;
        width: 100%;
        height: 100%;
    }

    
    .project-img:hover, .project-overlay{
        cursor: pointer;
    }

    .project-overlay:hover{
        opacity: 0;
    }

    .project-title{
        font-size: 1.75rem;  
        text-align: end;
    }
    .project-text{
        margin: auto 0;
        align-self: stretch;
        font-size: 1rem;
    }

    .project-tags{
        font-size: 0.9rem;
    }

    .project-id{
        position: absolute;
        right: 5%;
        top: -5%;
        font-size: 7rem;
        z-index: 100;
        font-style: italic;
        color: #4D4D4D;
    }

}

@media (min-width: 1024px) {
    .intro-text-wrapper{
        font-size: 3.75rem;
        line-height: 0.9;
    }

    .subtitle{
        font-size: 2.25rem;
    }

    .logo-txt, .nav-links{
        font-size: 1.5rem;
    }

    .info-title{
        font-size: 6rem;
    }



    .about-wrapper{
        font-size: 1.25rem;
        max-width: 1000px;
    }

    .skills-wrapper{
        font-size: 1.25rem;
        max-width: 900px;
    }




    .navlap .project-btn,
    .navlap .logo-txt{
        padding: 0.75em 2em;
    }

}

@media (min-width: 1440px) {

    .intro-text-wrapper{
        font-size: 5rem;
    }


    .subtitle{
        font-size: 3.25rem;
    }
}

polygon {
  stroke: var(--color-p);
  stroke-width: 3;
  stroke-dasharray: 50, 750;
  stroke-dashoffset: 0;
  fill: none;
  animation: border 4.5s ease-in-out forwards;
}

@keyframes border {
  to {
    stroke-dashoffset: -350;
  }
}

